name: CI

on:
    push:
      tags: ["apicicd", "main"]
    pull_request:
        branches: ["apicicd", "main"]


jobs:
  build:
    name: Build container image
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: pytest

    - name: Format code with black
      run: black --check . --exclude test_app.py

    - name: Check code style with flake8
      run: flake8

    - name: Get Branch Name
      id: branch_name
      run: |
        if [ "${{ github.event_name }}" == "pull_request" ]; then
            branch_name="${{ github.head_ref}}"
        elif [ "${{ github.event_name }}" == "push" ]; then
            branch_name="${{ github.ref_name}}"
        else
            echo "Unknown event type: ${{ github.event_name }}"
            exit 1

        fi
      
        echo "!!!!!!!!!!!!!!!!!!!!!!!!Lowercase branch name working!!!!!!!!!!!!!!!!!!!!!: $branch_name"

        echo "branch_name=$branch_name" >> $GITHUB_OUTPUT
    - name: Log into registry
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.ACR_ENDPOINT }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}
    - name: Build & Push
      uses: docker/build-push-action@v2
      with:
          push: true
          tags: ${{ secrets.ACR_ENDPOINT }}/booksapi:${{ steps.branch_name.outputs.branch_name }}
